:root {
    --gradient-primary: linear-gradient(to right, #00A539, #009E90);
    --text-buttons-color: #FFFFFF;
    --text-failed-color: #000000;
    --text-success-color: #159B39;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
    background: var(--gradient-primary);
    font-family: 'Inter', 'sans-serif';
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-self: center;
    justify-content: center;

    background-color: var(--gradient-primary);
    overflow: hidden;
}

.statusPayment {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.statusPayment__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 3rem;
}

.statusPayment__text {
    max-width: 620px;
    text-align: center;
}

.statusPayment[data-type="success"] {
    padding: 70px;

    border-radius: 70px;
    background: rgba(255, 255, 255, 0.50);

    font-size: 64px;
    font-weight: 600;
}